nav {
  align-items: center;
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

nav > ul {
  display: flex;
  list-style-type: none;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}

nav > p {
  font-size: 1.3rem;
  font-weight: 900;
  margin-block-start: 0;
  margin-block-end: 0;
}

nav > ul > a {
  color: inherit;
  padding: 0.8rem;
  text-decoration: none;
  transition: 0.3s;
}

nav > ul > a:hover {
  background-color: #fff7;
}
